<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="FileWarn" fileName="logs/warn.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="File1" additivity="false">
            <AppenderRef ref="FileWarn"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="FileWarn" level="warn"/>
        </Root>
    </Loggers>
</Configuration>